<footer>
  <div class="outer-container">
    <div class="container center">
      <ul class="list-reset list-inline">
        <li class="inline-block h5 mr2">
          <a href="#">Privacy Policy</a>
        </li>
        <li class="inline-block h5 mr2">
          <a href="#">Terms of Use</a>
        </li>
        <li class="inline-block h5 mr2">
          <a href="#">Careers</a>
        </li>
        <li class="inline-block h5 mr2">
          <a href="#">About Us</a>
        </li>
        <li class="inline-block h5">
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    &copy; 2017 Edena Resorts. All rights reserved.
  </div>
</footer>
